/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #3E4330;
  color: white;
  line-height: 1.6;
}

header {

  background-color: #3e433033;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 5em;
  padding-left: 1em;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  max-height: 70px;
}

.nav {
  display: flex;
  gap: 3em;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;

  padding-bottom: 2px;
}
.nav a:nth-child(1){
  border-bottom: 2px solid #efefef;
}
.nav a:hover{
  border-bottom: 0px solid #efefef;
  border-top:  2px solid #efefef;
}

.video-section {
  position: relative;
  width: 100%;
  height: calc(100vh - 90px); 
  overflow: hidden;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#mute-btn {
  position: absolute;
  bottom: 20px;
  right: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  transition: background 0.3s ease;
}

#mute-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* NEWSLETTER */
.newsletter {
  padding: 4em 2em;
  background: url('../media/fondoForm.png') no-repeat center center/cover;
  text-align: center;
  position: relative;
}

.newsletter::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.382);
  z-index: 0;
}

.newsletter h2 {
  position: relative;
  z-index: 1;
  margin-bottom: 1em;
  font-size: 2rem;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.newsletter input {
  padding: 0.9em;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  background: #f2f2f2;
}

.newsletter button {
  background-color: #e0e000;
  border: none;
  padding: 0.9em;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.newsletter button:hover {
  background-color: #c8c800;
}

.nota {
  font-size: 0.75em;
  color: #ccc;
  margin-top: 2em;
  max-width: 600px;
  margin-inline: auto;
  position: relative;
  z-index: 1;
}



/* RESPONSIVE */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 1em;
    align-items: flex-end;
  }

  .newsletter h2 {
    font-size: 1.5rem;
  }
}


.oculto {
  display: none;
}